# The master WEST configuration file for a simulation.
# vi: set filetype=yaml :
---
west: 

  # Define weighted ensemble parameters
  system:
    driver: westpa.core.systems.WESTSystem
    system_options:
      # Dimensionality of your progress coordinate
      pcoord_ndim: 1
      # Number of data points per iteration
      pcoord_len: 11
      # Data type for your progress coordinate 
      pcoord_dtype: !!python/name:numpy.float32
      bins:
        type: RectilinearBinMapper
        boundaries: 
          - [0,0.018,0.020,0.0205,0.0210,0.0215,0.0220,0.0225,0.0230,0.0240,0.0250,0.0260,0.0270,0.0280,0.0290,0.030,0.0305,0.0310,0.0320,0.0325,0.0330,0.0335,0.0340,0.0345,0.035,'Inf']
      # Number walkers per bin
      bin_target_counts: 4
  propagation:
    max_total_iterations: 300
    max_run_wallclock:    72:00:00
    propagator:           executable
    gen_istates:          false

  # Specify data storage options
  data:
    west_data_file: west.h5 # The name of these file where progress coordinates,
                            # the trajectory segment history tree, and other 
                            # data is stored.
    datasets: # Specify what data to store in the west_data_file, and how to
              # store it.
      - name:        pcoord
        scaleoffset: 4      # Apply scale/offset compression (lossy). The
                            # integer denotes the number of decimal places to 
                            # store.
      - name:        coord
        dtype:       float32 
        scaleoffset: 3
      - name:        log
        dtype:       float32
        scaleoffset: 4
    data_refs: # During the course of the simulation, this information is used
               # for defining environment variables such as "WEST_CURRENT_SEG_DATA_REF".
      segment:       $WEST_SIM_ROOT/traj_segs/{segment.n_iter:06d}/{segment.seg_id:06d}
      basis_state:   $WEST_SIM_ROOT/bstates/{basis_state.auxref}
      initial_state: $WEST_SIM_ROOT/istates/{initial_state.iter_created}/{initial_state.state_id}.gro
  plugins:
  executable: # The executable propagator should be used for interacting with programs such as GROMACS
    environ:
      PROPAGATION_DEBUG: 1
    #datasets:
    #  - name:    coord
    #    loader:  aux_functions.coord_loader
    #    enabled: true
    #  - name:    log
    #    loader:  aux_functions.log_loader
    #    enabled: true
    propagator:
      executable: $WEST_SIM_ROOT/westpa_scripts/runseg.sh
      stdout:     $WEST_SIM_ROOT/seg_logs/{segment.n_iter:06d}-{segment.seg_id:06d}.log
      stderr:     stdout
      stdin:      null
      cwd:        null
      environ:
        SEG_DEBUG: 1
    get_pcoord:
      executable: $WEST_SIM_ROOT/westpa_scripts/get_pcoord.sh
      stdout:     /dev/null
      stderr:     stdout
    gen_istate:
      executable: $WEST_SIM_ROOT/westpa_scripts/gen_istate.sh
      stdout:     /dev/null
      stderr:     stdout
    post_iteration:
      enabled:    true
      executable: $WEST_SIM_ROOT/westpa_scripts/post_iter.sh
      stderr:     stdout
    pre_iteration:
      enabled:    false
      executable: $WEST_SIM_ROOT/westpa_scripts/pre_iter.sh
      stderr:     stdout

  # Settings for w_ipa, an interactive analysis program that can also automate analysis.
  analysis:
     directory: ANALYSIS                # specify the directory all analysis files should exist in.
     kinetics:                          # general options for both kinetics routines.
       # Command line arguments with values should be specified as key: value (see below)
       # Command line arguments that are flags without values should be included as a list value
       # in the extra key (extra: [ 'disable-correl', 'disable-bootstrap' ])
       # These are global options for each scheme; individual schemes can have different values, 
       # set in their respective section.
       step_iter: 1 
       evolution: cumulative
       extra: [ 'disable-correl' ]
     analysis_schemes:                  # Analysis schemes.  Required: name (TEST), states, and bins
       TEST:
         enabled: True
         bins:
           - type: RectilinearBinMapper
             boundaries: 
               - [0.0,0.0215,0.030,'inf']
         states:
           - label: bound
             coords: 
               - [0.0214]
           - label: unbound
             coords: 
               - [0.031] 
